.Tool {
  /* Optimisation Tool */

  position: absolute;
  width: 579px;
  height: 77px;
  left: 470px;
  top: 300px;

  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 109px;

  color: #DDD51F;

  mix-blend-mode: darken;
}

.start {
  /* start now */

  position: absolute;
  width: 382px;
  height: 83px;
  left: 1034px;
  top: 650px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;

  color: #DDD51F;
}

.Made {
  /* Made by */

  position: absolute;
  width: 340px;
  height: 91px;
  left: 35px;
  top: 720px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.Top {
  /* CYCLING Team Pursuit Optimisation Tool */

  position: absolute;
  width: 703px;
  height: 45px;
  left: 400px;
  top: 67px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.AUS {
  /* AUS */

  position: absolute;
  width: 102px;
  height: 55px;
  left: 348px;
  top: 66px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #DDD51F;
}

.img {
  /* image 5 */

  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 800px;
  left: 1500px;
  top: 0px;

  background: url(welcome_image.png) no-repeat;
}

.logo {
  /* logo */

  position: absolute;
  width: 116.24px;
  height: 80px;
  left: 25px;
  top: 27px;

  background: url(logo.png);
}

.rec1 {
  /* Rectangle 1 */

  position: absolute;
  width: 210px;
  height: 14px;
  left: 0px;
  top: 400px;

  background: #DDD51F;
}

.rec2 {
  /* Rectangle 2 */

  position: absolute;
  width: 160px;
  height: 14px;
  left: 0px;
  top: 435px;

  background: #DDD51F;
}

.rec3 {
  /* Rectangle 3 */

  position: absolute;
  width: 160px;
  height: 14px;
  left: 0px;
  top: 470px;

  background: #DDD51F;
}

.Teamlogo {
  /* image 4 */

  position: absolute;
  width: 127px;
  height: 138px;
  left: 147px;
  top: 720px;

  background: url(team_logo.png) no-repeat;
}

/* .vector {
  position: absolute;
  width: 13px;
  height: 27px;
  left: 851px;
  top: 958px;

  border: 7px solid #DDD51F;
} */